
@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../fonts/ProximaNova_Bold.otf'); /* IE9 Compat Modes */
     
}


@font-face {
  font-family: 'ProximaNova_Reg';
  src: url('../fonts/ProximaNova_Reg.otf'); /* IE9 Compat Modes */
     
}


@font-face {
  font-family: 'ProximaNova_Xboldg';
  src: url('../fonts/ProximaNova_Xbold.otf'); /* IE9 Compat Modes */
     
}

